<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <form class="product-form" action="/admin/add-product" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
                <label for="price">Price</label>
                <input type="number" step="0.01" name="price" id="price">
                <label for="description">Description</label>
                <textarea id="description" name="description" rows="4" cols="39"></textarea>
            </div>
            <button type="sumbit">Add product</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>