<%- include('includes/head.ejs') %>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <div class="centered">
            <h1>Page not found 404</h1>
        </div>
    </main>

    <%- include('includes/end.ejs') %>