<%- include('includes/head.ejs') %>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <div class="centered">
            <h1>Internal server error</h1>
            <h2>We are working on fixing a problem. Sorry for inconvenience</h2>
        </div>
    </main>

    <%- include('includes/end.ejs') %>